src/main/resources/xsdFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="chessPlayer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fideId"/>
                <xs:element ref="firstName"/>
                <xs:element ref="lastName"/>
                <xs:element ref="elo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fideId" type="xs:string"/>
    <xs:element name="firstName" type="xs:string"/>
    <xs:element name="lastName" type="xs:string"/>
    <xs:element name="elo" type="xs:integer"/>
</xs:schema>